<%- include("header") -%>
<form action="/generate" class="box" method="POST">
    <h3 id="heading">Do you want to generate a safer password?</h3>
    <input type="number" name="len" value="len" placeholder="Min 10 length is recommended..">
    <button type="submit" name="submit">Yes!</button>
   

</form>
<%- include("footer") -%>